*{
    margin: 0;
    padding: 0;
}

body{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    }
.header-nav{
    width: 100%;
    height: 480px;
    font-family: sans-serif;    
    background-image: linear-gradient(to right top, #24053e, #24053e, #24053e, #24053e, #24053e);
    -webkit-clip-path: ellipse(71% 59% at 50% 40%);
    clip-path: ellipse(71% 59% at 50% 40%);

  }
.first-both li{
    display: inline-block;
    margin-top: 30px;
    margin-left: 60px;
    white-space: pre;
}
.apply{
    float: right;
    margin-right: 7%;
    color: #44FFA1;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

.sec-both img{
    width: 140px;
    margin-left: -40px;
    margin-top: 30px;
}
.center-text{
    height: 40px;
    color: white;
    margin-left: 35%;
    margin-top: -100px;
    font-size: 50px;
}
.sec-both span{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color:#44FFA1;
}
.btn1{
    border: 2px solid #44FFA1;
    margin-left: 120px;
    background-color: transparent;
    padding: 10px;
    color:#44FFA1;
    cursor: pointer;
}
.btn1:hover{
    background-color: #44FFA1;
    color: white;

}
.bg-pattern-2{
    margin-right: -50px;
    float: right;
    width: 40px;        
    height: 140px;    
}
.bg-light{
    width: 100%;
    height: 450px;
    font-family: sans-serif;    
    background-image: linear-gradient(to right top, #FCF8FF, #fffbd5);
    -webkit-clip-path: ellipse(71% 59% at 50% 40%);
    clip-path: ellipse(71% 59% at 50% 40%);
    margin-top: -10px;
    z-index: -1;

}
.image-hero{
    position: absolute;
    z-index: 1;
    width: 40%;
    margin-top: -160px;
    margin-left: 30%;
}

.section-all{
    position: absolute;
    /* margin-top: 40%; */
    display: inline-block;
    display: flex;
    text-align: center;
    color: #584D62;
    margin-right: 9%;
    margin-top: -35%;
}
.section-all h2{
    margin-bottom: 40px;
    margin-left: 30%;
}
.section-all p{
    margin-left: 20%;
    display: inline-block;
    text-wrap: wrap;
}
.circle{
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.image-founder{
    border-radius: 50%;
    width: 20%;
    height: 30%;
    margin-left: 20%;
    margin-top: -10%;
    z-index: -1;
}
.img-box{
    display: flex;
}
.box{
    border: none;
    width: 35%;
    height: 180px;
    margin-top: -40px;
    margin-left: -40px;
    background-color: #24053E;
    color: #FFFFFF;
    padding: 40px;
}
.box p{
    line-height: 20px;

}

.btn2{
    border: 2px solid #44FFA1;
    margin-left: 120px;
    background-color: transparent;
    padding: 10px;
    color:#44FFA1;
    cursor: pointer;
    margin-left: -4px;
}
.btn2:hover{
    background-color: #44FFA1;
    color: white;
}
.img2{
    width: 27%;
    float: right;
}
.footer{
    margin-top: 10%;
    margin-left: 45%;
    line-height: 60px;
}

.social-media{
    word-spacing: 30px;
    margin-left: -20px;
}

